@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}


.body {

    font-size: 12px;
    background-color: #ebebeb;

}

.body__header__contenedor {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 5px ;
}

.logo {
    width: 50%;
}

.position__relative {
    position: relative;
}

.buscador form input {
    width: 137px;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 35px;
}

.logo__search {
    
    background-color: white;
    text-align: center;
    font-size: 17px;
    border: none;
    color: #666;
    position: absolute;
    right: 0px;
    top: 8px;
}



.body__header {
    font-size: 12px;
    background-color: #EAC926;   
}

.buscador {
    /* text-align: center; */
    padding: 5px;
}

.compra-en-cuotas {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0; 
}

.navegacion {
    display: none;
    
}

.burger-menu {
    text-align: center;
    position: relative;
    bottom: 16px;
}
.burger-menu button {
    border-radius: 15%;
    border: none;
    width: 35px;
    height: 35px;
    font-size: 20px;
    color: #fff;
    background-color: #1259c3;
    margin: 7px;
    
}
/* MAIN */

.main {

    margin: 0 auto;
    width: 90%;
    padding: 5px;
    background-color:  #ebebeb;
}


.main__banner img{
    width: 100%;
}
.main ul li section article {
    background-color: #fff;
    margin: 10px 0;
}

.position {
    position: relative;
}


.main ul li section article i{
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
   }

.descripcion__producto {
    border-top: 1px solid #ebebeb;
    display: flex;
    justify-content: flex-start;
    padding: 15px 0;

}

.product-image {
    text-align: center;
    padding-bottom: 15px;
    
}
.product-image img {
    width: 100%;
}


.descripcion__producto i {
    color: #39b54a;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 2px solid #39b54a;
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

main h2 {
    font-size: 24px;
    margin: 25px;
    color: #666;
}

ul {
    margin: 10px;
    padding: 0;
    margin: 0;
}


li {
    list-style: none;
    /* margin: 0;
    padding: 0; */

}

a {
    text-decoration: none;
    color: black;
}

.main__section {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}


.section__ofertas {
    display: flex;
    flex-direction: column;
}


.main__section--precios {
    font-size: 18px;
    /* text-align: center; */
    margin-left: 15px;
    margin-bottom: 2px;
}

.main__section--descuento {
    font-size: 16px;
    /* text-align: center; */
    margin-left: 15px;
    color: #39b54a;
}

h4 {
    position: absolute;
    font-size: 16px;
    color:  #666;
    width: 100%;
    top: -100%;
}
.description__container {
    position: relative;
    height: 30px;
    overflow: hidden;
}
.main__section--article:hover{
    top: 0;
    transition: 1s;

}


/* MAIN */
.main__register, .main__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
    
    
    background-color: #ebebeb;
}
.main__register h1, .main__login h1{
    font-size: 28px;
    color: #666;
    padding-bottom: 15px;
}
.main__register form p, .main__login form p {
    
    padding: 10px 0;
}

.date {
    display: flex;
    flex-direction: column;
    padding: 10px 0;

}

.perfil__usuario, .intereses {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    align-content: flex-start;
}
.perfil__usuario {
    flex-direction: row;
}

.main__register form p input, .date input, .main__login form p input{
   height: 30px;
   width: 250px;
   border-radius: 5px;
   border: none;
   outline: none;
}

.enviar {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 150px;
    background-color: #1259c3;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    
}
.enviar input {
    display: flex;
    align-items: center;
    color: #FFF;
    background-color: #1259c3;
    border: none;
}

/* FOOTER */
.footer {
    padding: 5px 2px;
    background-color: #FFF;
  
}

.footer__section {
    text-align: center;
    font-size: 12px;
}

.footer__section i {
    font-size: 2em;
    color: #1259c3;
    padding: 40px 0 10px 0;
}

.footer__section p {
    color: #666;
    margin: 5px 75px;
}

.copy {
    text-align: center;
    margin: 25px 0 5px;
    padding-top: 2px;
    color: #666;
    border-top: #fff solid 1px;
}



@media (min-width: 768px) {

    /* HEADER */

    .navegacion {
        display: block;
        
    }
    .buscador form input {
        width: 200px;
        height: 25px;  
    }

    .logo__search {
        font-size: 15px;
        border: none;
        right: 2px;
        top: 5px;
    }

    .logo {
        width: 250px;
    }
    /* MAIN */

    .main {
        margin: 0 auto;
        width: 90%;
        padding: 5px 0 50px 0;
    }

    /* .main__section {
        display: flex;
        align-content: flex-start;
    } */

    .main__section--article, .section__ofertas article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 35%;
        /* height: 350px; */
        display: flex;
        flex-direction: column;
        align-content: flex-start;
      }

    .main__section, .section__ofertas {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 30px;
        justify-content: center;  
        align-content: flex-start; 
    }

    .description__container {
        /* position: relative;
        height: 30px;
        overflow: hidden; */
    }

    /* .main__section--article {
        height: 350px;
    } */

    .main__section--article:hover{
        top: 0;
        transition: 1s;
    
    }

    /* .main__section--article:hover h4{
        height: 40px;
    } */
    
    .compra-en-cuotas {
        width: 220px;
    }

    
    .body__header__contenedor {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 15px;
        align-items: center;
    }

    .navegacion {
        display: flex;
        justify-content: space-between;
    }
    .navegacion ul {
        display: flex;
        gap: 20px;
        padding: 10px 20px;
    }

    .burger-menu {
        display: none;
    }

    .footer__section {
        display: flex;
    }

    .main__register form p input, .date input, .main__login form p input{
        height: 30px;
        width: 300px;
       
     }

}
@media (min-width: 1024px) {
    

    .body__header__contenedor {
        flex-wrap: nowrap;
    }

    .buscador form input {
        width: 350px;
        border: none;
        outline: none;
        border-radius: 5px;
        height: 35px;
    }

    .buscador form input {
        width: 350px;
        height: 35px;  
    }

    .logo__search {
        font-size: 15px;
        border: none;
        right: 2px;
        top: 9px;
    }

    .main__section article, .section__ofertas article {
        width: 20%;
    }

    .main__register form p input, .date input, .main__login form p input{

        width: 400px;
       
     }

    .main__register, .main__login {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 130px 0;
    }
}


